@viewport {
    width: device-width;
    zoom: 1.0;
}

body {
    background-color: #041C32;
    font-family: Monospace;
    text-align: center;
}

.navbar {
    background-color: #04293A;
    padding: 10px;    
    font-size: 25px;
    margin-bottom: 15px;
}

.navbar a {
    text-decoration: none;
    color: #ECB365;
    padding: 10px;
}

.header {
    color: gray;
    font-size: 20px;
}

.headerimage {
  width: 100%;
  height: auto;
}

.content {  
    font-size: 15px;
}

.answer {
    color: #ECB365;
    padding: 10px;
    font-size: 20px;
}

.license {
    font-size: 20px;
    margin-top: 15px;
    color: grey;
}

.licenseimage {
  width: 100%;
  height: auto;
}

.realbottom a {
    text-decoration: underline;
    color: black;
}

.realbottom {
    color: gray;
    font-size: 15px;
}